/* Flash es el mensaje que aparece en un cambio de contexto para indicar el resultado de la última accion del contexto anterior */
@keyframes backgroundflash {
    75% {
        opacity: 1.0
    }

    100% {
        opacity: 0.0;
        display: none
    }
}

#flash {
    background-color: green;
    animation: backgroundflash 5s forwards;
}